<div class="side-menu">
    <div> 1. <a (click)="navigateRoute('angular-intro')"> Angular-Intro </a></div>

    <div> 2. <a (click)="navigateRoute('modules-components')"> Modules - Components</a></div>

    <div> 3. <a (click)="navigateRoute('forms-binding')"> Forms -Bindings</a></div>

    <div> 4. <a (click)="navigateRoute('http-client-services')"> Http Client - Services </a></div>

    <div> 5. <a (click)="navigateRoute('routing-navigation')"> Routing - Navigation </a></div>  

    <div> 6. <a (click)="navigateRoute('npm-library-update')"> npm Libraries - Update </a></div> 

    <div> 7. <a (click)="navigateRoute('redux-ngrx')"> Redux -NgRx </a></div> 

    <div> 8. <a (click)="navigateRoute('servicework-pwa-ssr')"> Service work - PWA - SSR </a></div> 

    <div> 9. <a (click)="navigateRoute('testing-unit-integrate-e2e')"> Testing - unit- integrate -E2E </a></div>  

    <div> 10. <a (click)="navigateRoute('security-owasp-prod-microUI')" > Secuirty - OWASP - Prod Build, Micro UI </a></div>  

    <div> 11.<a (click)="navigateRoute('devtool-i18n-cheatsheet')" > DevTools, i18N,  Cheat Sheet</a></div>

    <div> 12.<a (click)="navigateRoute('angular-dashboard')"> Angular-dashboard</a></div>

    <span class="version"> Angular Version-13- Mar23-2022</span>
</div>
