<nav> 
    <a routerLink="/modules-components/module"> App module - 5 parts</a> || 
    <a routerLink="/modules-components/lazyloading"> Feature Modules/ Lazy modules</a>   || 
    <a routerLink="/modules-components/eagerload"> Eager Components</a>   || 
    <a routerLink="/modules-components/components"> Component - nested ,sibilings component</a> ||       
    <a routerLink="/modules-components/lifecycle"> LifeCycle methods</a>      
</nav>

<router-outlet></router-outlet>

<iframe class="embed-responsive-item" [srcdoc]="lineageHtml" allowfullscreen></iframe>