<!--<div>
    <label for="chart">Category of charts : </label>
    <select name="chart" (change)="renderChart($event)">
        <option value="NULL">Choose Chart</option>
        <option value="d3chart">D3</option>
        <option value="higchart">Higchart</option>
        <option value="ngx-chart">ngxChart</option>
    </select>
    <!--<button (click)="renderChart()">Load</button>
    </div>-->
    

<app-d3chart> </app-d3chart>
<app-highchart> </app-highchart>
<app-ngx-chart></app-ngx-chart>

